@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Gemunu Libre", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.card {
  background-color: transparent;
  perspective: 1000px;
  flex-grow: 1;
  width: 300px;
  max-width: 300px;
  height: 300px;
  display: block;
  position: relative;
  isolation: isolate;
  color: red;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3em;
  backface-visibility: hidden;
}
.card:hover .card__article {
  transform: rotateY(180deg);
}
.card__image {
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 3em;
}
.card__content {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  backface-visibility: visible;
  transform: rotateY(180deg);
  border-top-right-radius: 20px;
  border-radius: 3em;
}
.card .card__heading {
  text-align: center;
  font-size: 2em;
  color: #D00000;
  padding-bottom: 0.5em;
}
.card .card__characteristics {
  text-align: left;
  color: #e85d04;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
.card ul {
  text-align: center;
  color: brown;
  padding-bottom: 1em;
}
.card .card__price {
  text-align: left;
  color: white;
  font-size: 2em;
}
.card article {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 100%;
    height: 200px;
  }
  .card__article {
    display: flex;
  }
  .card__image {
    width: 40%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
  .card__content {
    top: 0;
  }
}

/*********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column;
}

#menu {
  display: none;
}

#menu:checked + .nav-bar {
  display: block;
}

#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #370617;
}

/*********************************
            NAV BAR
*********************************/
.nav-bar {
  background-color: #370617;
}

.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
}

.nav-bar__nav-item {
  flex: 1;
  display: block;
  text-align: center;
  font-size: 1.2em;
}

.nav-bar__nav-link {
  display: block;
  background-color: #370617;
  color: #ffba08;
  padding: 0.3em 2em;
  text-decoration: none;
  width: auto;
}

/*********************************
            SEARCH BAR
*********************************/
.search-bar {
  display: flex;
  background-color: olivedrab;
  justify-content: flex-end;
}

.search-bar__logo-container,
.search-bar__form-container,
.search-bar__carrito-container {
  padding: 1em;
  flex: 1;
  background-color: #370617;
}

.search-bar__logo-container {
  order: 1;
  background-color: #370617;
  background-image: url(/img/productos/Connecticus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-basis: 10%;
  text-align: center;
  color: black;
}

.search-bar__form-container {
  background-color: #370617;
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  order: -1;
}

.search-bar__form-label {
  display: none;
}

.search-bar__form-search {
  background-color: #fff;
  height: 30px;
  width: 80%;
}

.search-bar__form-submit {
  background-image: url("/img/productos/magnifier.png");
  background-color: #ffba08;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 50px;
  cursor: pointer;
}

.search-bar__carrito-container {
  flex: 0 0 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  order: -1;
}

/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
  display: flex;
  background-color: #370617;
  flex: 0 0 5em;
  position: relative;
  cursor: pointer;
  order: -2;
}

.menu-toggle__label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #370617;
  margin: 0 70%;
  cursor: pointer;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
  position: relative;
  background-color: #ffba08;
  width: 3em;
  height: 0.5em;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle {
    display: none;
  }

  .nav-bar {
    display: block;
  }

  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.section-cards {
  background-color: #03071e;
  color: #f48c06;
  padding: 1em;
}
.section-cards header h1 {
  color: #d00000;
  text-align: center;
  font-size: 4em;
}
.section-cards header p {
  color: #f48c06;
  font-size: 1.5em;
  font-style: italic;
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: space-evenly;
}

@media (min-width: 1024px) {
  .cards-container {
    flex-wrap: wrap;
  }
}
body {
  background-color: #03071E;
  color: #F48C06;
}
body h1 {
  font-size: 3em;
  text-align: center;
  padding: 2em;
}
body p {
  padding-bottom: 1em;
  padding-left: 3em;
  font-size: 1.2em;
}
body .name, body .price, body .stock, body .brand, body .class, body .photo, body .details, body .delivery, body .comments, body .email, body .mercadopago {
  padding-bottom: 1em;
  padding-left: 3em;
  font-size: 1.2em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-container .sale {
  align-self: center;
}