/*********************************
            HEADER
*********************************/
.main-header {
    display: flex;
    flex-direction: column;
}

#menu {
    display: none;
}

#menu:checked + .nav-bar {
    display: block;
}

#menu:checked ~ .search-bar .menu-toggle__label {
    background-color: #370617;
}

/*********************************
            NAV BAR
*********************************/
.nav-bar {
    background-color: #370617;
}

.nav-bar__nav-list {
    display: flex;
    list-style-type: none;
}

.nav-bar__nav-item {
    flex: 1;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.nav-bar__nav-link {
    display: block;
    background-color: #370617;
    color: #ffba08;
    padding: .3em 2em;
    text-decoration: none;
    width: auto;
}


/*********************************
            SEARCH BAR
*********************************/
.search-bar {
    display: flex;
    background-color: olivedrab;
    justify-content: flex-end;
}

.search-bar__logo-container,
.search-bar__form-container,
.search-bar__carrito-container {
    padding: 1em;
    flex: 1;
    background-color: #370617;
}

.search-bar__logo-container {
    order: 1;
    background-color: #370617;
    background-image: url(/img/productos/Connecticus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 10%;
    text-align: center;
    color: black;
}

.search-bar__form-container {
    background-color: #370617;
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    order: -1;
}

.search-bar__form-label {
    display: none;
}

.search-bar__form-search {
    background-color: #fff;
    height: 30px;
    width: 80%;
}

.search-bar__form-submit {
    background-image: url("/img/productos/magnifier.png");
    background-color: #ffba08;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 50px;
    cursor: pointer;
}

.search-bar__carrito-container {
    flex: 0 0 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    order: -1;
}


/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
    display: flex;
    background-color: #370617;
    flex: 0 0 5em;
    position: relative;
    cursor: pointer;
    order: -2;
}

.menu-toggle__label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #370617;
    margin: 0 70%;
    cursor: pointer;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
    position: relative;
    background-color: #ffba08;
    width: 3em;
    height: .5em;
    transition: .5s;
}

@media (max-width: 768px) {

    .main-header {
        flex-direction: column-reverse;
    }

    .menu-toggle {
        display: none;
    }

    .nav-bar {
        display: block;
    }

    .nav-bar__nav-list {
        flex-direction: column;
    }
}
